.block {
    position: absolute;
    bottom: 30px;
    left: 10%;
    width: 80%;
    height: 150px;
    z-index: 5;
    background-color: rgb(48, 213, 200, 0.3);
    margin: 0 auto;
    color: white;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnText{
    width: 170px;
    height: 50px;
    font-size: 16px;
    margin: auto;
}

.textBlock{
    width: 100%;
    height: 70px;
text-align: left;
}